@model ZergMoney.Models.Household
@{ var budgetNum = 2; var budgetItemCount = 0; var AccountNum = 2; var AccountItemCount = 0;}

<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-8-tablet">
            <div class="mdc-card p-0 to-do-list">
                <h6 class="card-title card-padding pb-0">Accounts</h6>
                <div class="content content--active">
                    <div class="to-do-list-content">
                        @foreach (var account in Model.Accounts)
                        {
                            if(AccountItemCount < AccountNum)
                            {
                                <div class="to-do-list-item">
                                    <div class="ml-3">
                                        <h5 class="mb-0 font-weight-medium">@account.Name</h5>
                                        <p class="tx-12 text-muted mb-0">@account.InstitutionName</p>
                                    </div>
                                    <div class="ml-auto mr-3">
                                        @account.Balance
                                    </div>
                                </div>
                                AccountItemCount++;
                            }
                            else
                            {
                                break;
                            }
                        }
                        <div style="padding-bottom: 10px; margin-bottom: 50px">
                            <div class="menu-button-container" style="float: right">
                                <button class="mdc-button mdc-menu-button icon-button mdc-button--raised mdc-ripple-upgraded" style="float: right; margin-top: 5px">
                                    <i class="material-icons mdc-button__icon">add</i>
                                </button>
                                <div class="mdc-menu mdc-menu-surface" tabindex="-1" id="demo-menu" style="transform-origin: left bottom; left: 0px; bottom: 36px; max-height: 749px;">
                                    <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical">
                                        <li class="mdc-list-item" role="menuitem" tabindex="-1">
                                            <a data-toggle="dialog" target-dialog="mdc-dialog-default"><h6 class="item-subject font-weight-normal">Add Transaction</h6></a>
                                        </li>
                                        <li class="mdc-list-item" role="menuitem" tabindex="-1">
                                            <a data-toggle="dialog" target-dialog="mdc-dialog-account"><h6 class="item-subject font-weight-normal">Add Account</h6></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <button class="mdc-button mdc-ripple-upgraded" style="float: right; margin-top: 5px">SEE ALL</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-8-tablet">
            <div class="mdc-card p-0 to-do-list">
                <h6 class="card-title card-padding pb-0">Bills</h6>
                <div class="content content--active">
                    <div class="to-do-list-content">
                        @foreach (var budget in Model.Budgets)
                        {
                            if (budget.HouseholdId == Model.Id)
                            {
                                foreach (var item in budget.BudgetItems)
                                {
                                    if (budget.Id == item.BudgetId && budgetItemCount < budgetNum)
                                    {
                                        <div class="to-do-list-item">
                                            <div class="ml-3">
                                                <h5 class="mb-0 font-weight-medium">@item.Name</h5>
                                                <p class="tx-12 text-muted mb-0">@budget.Name</p>
                                            </div>
                                            <div class="ml-auto mr-3">
                                                @item.Amount
                                            </div>
                                        </div>
                                        budgetItemCount++;
                                    }
                                }
                            }
                            else
                            {
                                break;
                            }
                        }
                        <div style="padding-bottom: 10px; margin-bottom: 50px">
                            <div class="menu-button-container" style="float: right">
                                <button class="mdc-button mdc-menu-button icon-button mdc-button--raised mdc-ripple-upgraded" style="float: right; margin-top: 5px">
                                    <i class="material-icons mdc-button__icon">add</i>
                                </button>
                                <div class="mdc-menu mdc-menu-surface" tabindex="-1" id="demo-menu" style="transform-origin: left bottom; left: 0px; bottom: 36px; max-height: 749px;">
                                    <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical">
                                        <li class="mdc-list-item" role="menuitem" tabindex="-1">
                                            <a data-toggle="dialog" target-dialog="mdc-dialog-budget"><h6 class="item-subject font-weight-normal">Add Budget</h6></a>
                                        </li>
                                        <li class="mdc-list-item" role="menuitem" tabindex="-1">
                                            <a data-toggle="dialog" target-dialog="mdc-dialog-bills"><h6 class="item-subject font-weight-normal">Add Bill</h6></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <button class="mdc-button mdc-ripple-upgraded" style="float: right; margin-top: 5px">SEE ALL</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-8-tablet">
            <div class="mdc-card">
                <h6 class="card-title">Members</h6>
                <h6 class="card-sub-title">Invite Member</h6>
                @using (Html.BeginForm("Invite", "Invites", FormMethod.Post))
                {
                    <div class="mdc-text-field mdc-text-field--outlined">
                        <input class="mdc-text-field__input" id="text-field-hero-input" name="email">
                        <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch" style="">
                                <label for="text-field-hero-input" class="mdc-floating-label" style="">Email</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <button class="mdc-button mdc-button--raised mdc-ripple-upgraded" style="float: right; margin-top: 22px">
                        <i class="material-icons mdc-button__icon">email</i>
                        Send
                    </button>
                }
                <h6 class="card-sub-title">Current Members</h6>
                @foreach (var mem in ViewBag.Users)
                {
                    <span>@mem.FullName</span>
                }
            </div>
        </div>
    </div>
</div>
<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet">
            <div class="mdc-card p-0">
                <h6 class="card-title card-padding pb-0">Transactions</h6>
                <div class="content content--active" style="margin-left: 30px; margin-right: 30px">
                    <table class="table table-hoverable" id="trans">
                        <thead>
                            <tr>
                                <th>
                                    For
                                </th>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Account
                                </th>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Amount
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @foreach (var trans in ViewBag.Transactions)
                                {
                                    <td>
                                        @trans.Description
                                    </td>
                                    <td>
                                        @trans.Date.ToString("dddd, dd MMMM yyyy")
                                    </td>
                                    <td>
                                        @foreach (var acc in Model.Accounts)
                                        {
                                            if (trans.AccountId == acc.Id)
                                            {
                                                @acc.Name
                                            }
                                        }
                                    </td>
                                    <td>
                                        @trans.Deposit
                                    </td>
                                    <td>
                                        @Math.Abs(trans.Amount)
                                    </td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--span-4-tablet">
            <div class="mdc-card">
                <h6 class="card-title">Budget</h6>
                <canvas id="doughnutChartA"></canvas>
            </div>
        </div>
        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--span-4-tablet">
            <div class="mdc-card">
                <h6 class="card-title">Accounts</h6>
                <canvas id="doughnutChartB"></canvas>
            </div>
        </div>
    </div>
</div>
<div id="mdc-dialog-default" class="mdc-dialog" role="alertdialog" aria-modal="true" aria-labelledby="my-dialog-title" aria-describedby="my-dialog-content">
    <div class="mdc-dialog__container">
        <div class="mdc-dialog__surface">
            <header class="mdc-dialog__title">
                <h3 id="mdc-dialog-default-label" class="mdc-dialog__header__title">
                    Select Account and Add Transaction
                </h3>
            </header>
            @using (Html.BeginForm("Create", "Transactions", FormMethod.Post, new { id = "transaction", role = "form", enctype = "Multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <section id="mdc-dialog-default-description" class="mdc-dialog__content">
                    <span style="margin-bottom: 10px">Select the correct account, then choose Withdrawal or Deposit and either upload a document to scan or enter the transaction data manually.<br /></span>
                    <span style="padding-right: 10px">Account: </span>@Html.DropDownList("AccountId", null, new { @class = "mdc-select", style = "padding-right: 15px;" })
                    <span style="padding-right: 10px">Category: </span>@Html.DropDownList("CategoryId", null, new { @class = "mdc-select" })
                    <div class="mdc-text-field mdc-text-field--outlined" style="margin-top: 10px">
                        <input class="mdc-text-field__input" id="text-field-hero-input" name="Description">
                        <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch" style="">
                                <label for="text-field-hero-input" class="mdc-floating-label" style="">Description</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                </section>
                <footer class="mdc-dialog__actions">
                    <input id="uploader" type="file" name="image" style="display: none" onchange="formSub()" />
                    @Html.Hidden("HouseHoldId", Model.Id)
                    <input name="Deposit" id="depp" value="Deposit" type="hidden" />
                    <a id="isDep" onclick="transType()" value="true" class="mdc-button mdc-button--unelevated filled-button--success mdc-ripple-upgraded" style="transition: all; transition-duration: 1.2s; margin-right: 12px">
                        Deposit
                    </a>
                    <a class="mdc-button mdc-dialog__button mdc-ripple-upgraded" onclick="uploadFile()">
                        <span class="mdc-button__label">Upload</span>
                    </a>
                    <a class="mdc-button mdc-dialog__button mdc-ripple-upgraded">
                        <span class="mdc-button__label">Manual</span>
                    </a>
                </footer>
            }
        </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
</div>

<div id="mdc-dialog-account" class="mdc-dialog" role="alertdialog" aria-modal="true" aria-labelledby="my-dialog-title" aria-describedby="my-dialog-content">
    <div class="mdc-dialog__container">
        <div class="mdc-dialog__surface">
            <header class="mdc-dialog__title">
                <h3 id="mdc-dialog-default-label" class="mdc-dialog__header__title">
                    Add Account
                </h3>
            </header>
            @using (Html.BeginForm("Create", "PersonalAccounts", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <section id="mdc-dialog-default-description" class="mdc-dialog__content">
                    <span>Enter Balance with no commas<br /></span>
                    <div class="mdc-text-field mdc-text-field--outlined" style="margin-top: 25px">
                        <input class="mdc-text-field__input" id="text-field-hero-input" name="Name">
                        <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch" style="">
                                <label for="text-field-hero-input" class="mdc-floating-label" style="">Account Name</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <div class="mdc-text-field mdc-text-field--outlined" style="margin-top: 25px">
                        <input class="mdc-text-field__input" id="text-field-hero-input" name="InstitutionName">
                        <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch" style="">
                                <label for="text-field-hero-input" class="mdc-floating-label" style="">Bank Name</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <div class="mdc-text-field mdc-text-field--outlined" style="margin-top: 25px">
                        <input class="mdc-text-field__input" id="text-field-hero-input" name="Balance">
                        <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch" style="">
                                <label for="text-field-hero-input" class="mdc-floating-label" style="">Balance</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                </section>
                <footer class="mdc-dialog__actions">
                    @Html.Hidden("HouseHoldId", Model.Id)
                    <button class="mdc-button mdc-dialog__button mdc-ripple-upgraded" type="submit">
                        <span class="mdc-button__label">Create</span>
                    </button>
                </footer>
            }
        </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
</div>
<div id="mdc-dialog-budget" class="mdc-dialog" role="alertdialog" aria-modal="true" aria-labelledby="my-dialog-title" aria-describedby="my-dialog-content">
    <div class="mdc-dialog__container">
        <div class="mdc-dialog__surface">
            <header class="mdc-dialog__title">
                <h3 id="mdc-dialog-default-label" class="mdc-dialog__header__title">
                    Add Account
                </h3>
            </header>
            @using (Html.BeginForm("Create", "Budgets", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <section id="mdc-dialog-default-description" class="mdc-dialog__content">
                    <span>Enter Balance with no commas<br /></span>
                    <div class="mdc-text-field mdc-text-field--outlined" style="margin-top: 25px">
                        <input class="mdc-text-field__input" id="text-field-hero-input" name="Name">
                        <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch" style="">
                                <label for="text-field-hero-input" class="mdc-floating-label" style="">Budget Name</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                </section>
                <footer class="mdc-dialog__actions">
                    @Html.Hidden("HouseHoldId", Model.Id)
                    <button class="mdc-button mdc-dialog__button mdc-ripple-upgraded" type="submit">
                        <span class="mdc-button__label">Create</span>
                    </button>
                </footer>
            }
        </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
</div>
<div id="mdc-dialog-bills" class="mdc-dialog" role="alertdialog" aria-modal="true" aria-labelledby="my-dialog-title" aria-describedby="my-dialog-content">
    <div class="mdc-dialog__container">
        <div class="mdc-dialog__surface">
            <header class="mdc-dialog__title">
                <h3 id="mdc-dialog-default-label" class="mdc-dialog__header__title">
                    Add Account
                </h3>
            </header>
            @using (Html.BeginForm("Create", "BudgetItems", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <section id="mdc-dialog-default-description" class="mdc-dialog__content">
                    <span>Enter Balance with no commas<br /></span>
                    <div class="mdc-text-field mdc-text-field--outlined" style="margin-top: 25px">
                        <input class="mdc-text-field__input" id="text-field-hero-input" name="Name">
                        <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch" style="">
                                <label for="text-field-hero-input" class="mdc-floating-label" style="">Bill Name</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <div class="mdc-text-field mdc-text-field--outlined" style="margin-top: 25px">
                        <input class="mdc-text-field__input" id="text-field-hero-input" name="Amount">
                        <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch" style="">
                                <label for="text-field-hero-input" class="mdc-floating-label" style="">Bill Amount</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <span style="padding-right: 10px">Budget: </span>@Html.DropDownList("BudgetId", null, new { @class = "mdc-select" })
                    <span style="padding-right: 10px">Category: </span>@Html.DropDownList("CategoryId", null, new { @class = "mdc-select" })
                </section>
                <footer class="mdc-dialog__actions">
                    @Html.Hidden("HouseHoldId", Model.Id)
                    <button class="mdc-button mdc-dialog__button mdc-ripple-upgraded" type="submit">
                        <span class="mdc-button__label">Create</span>
                    </button>
                </footer>
            }
        </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
</div>

@section Scripts {
    <script src="~/assets/js/jquery.dataTables.js"></script>
    <script src="~/assets/js/dataTables.bootstrap4.js"></script>
    <script>
        $(function () {
            $("#trans").DataTable();
        });
    </script>
    <script>
        var doughnutPieData = {
        datasets: [{
            data: [30, 40, 30],
            backgroundColor: [
            'rgba(255, 66, 15, 0.8)',
            'rgba(0, 187, 221, 0.8)',
            'rgba(255, 193, 7, 0.8)',
            'rgba(0, 182, 122, 0.8)',
            'rgba(153, 102, 255, 0.8)',
            'rgba(255, 159, 64, 0.8)'
            ],
            borderColor: [
            'rgba(255, 66, 15,1)',
            'rgba(0, 187, 221, 1)',
            'rgba(255, 193, 7, 1)',
            'rgba(0, 182, 122, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
            ],
        }],

            // These labels appear in the legend and in the tooltips when hovering different arcs
            labels: [
                'Red',
                'Blue',
                'Yellow',
            ]
        };
        var doughnutPieDataA = {
        datasets: [{
            data: [30, 40, 30],
            backgroundColor: [
            'rgba(255, 66, 15, 0.8)',
            'rgba(0, 187, 221, 0.8)',
            'rgba(255, 193, 7, 0.8)',
            'rgba(0, 182, 122, 0.8)',
            'rgba(153, 102, 255, 0.8)',
            'rgba(255, 159, 64, 0.8)'
            ],
            borderColor: [
            'rgba(255, 66, 15,1)',
            'rgba(0, 187, 221, 1)',
            'rgba(255, 193, 7, 1)',
            'rgba(0, 182, 122, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
            ],
        }],

            // These labels appear in the legend and in the tooltips when hovering different arcs
            labels: [
                'Red',
                'Blue',
                'Yellow',
            ]
        };
        var doughnutPieOptions = {
            responsive: true,
            animation: {
                animateScale: true,
                animateRotate: true
            }
        };
        if ($("#doughnutChartA").length) {
            var doughnutChartCanvas = $("#doughnutChartA").get(0).getContext("2d");
            var doughnutChart = new Chart(doughnutChartCanvas, {
                type: 'doughnut',
                data: doughnutPieData,
                options: doughnutPieOptions
            });
        }
        if ($("#doughnutChartB").length) {
            var doughnutChartCanvas = $("#doughnutChartB").get(0).getContext("2d");
            var doughnutChart = new Chart(doughnutChartCanvas, {
                type: 'doughnut',
                data: doughnutPieDataA,
                options: doughnutPieOptions
            });
        }
    </script>
}
